<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
	<meta content="Coderthemes" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" th:href="@{/assets/images/logoFavicon.png}">

	<!-- third party css -->
	<link th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
	<!-- third party css end -->

	<!-- App css -->
	<link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css" id="light-style" />
	<link th:href="@{/assets/css/app-dark.min.css}" rel="stylesheet" type="text/css" id="dark-style" />

</head>

<body class="loading"
	data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
	<!-- Begin page -->
	<div class="wrapper">
		<!-- ========== Left Sidebar Start ========== -->
		<div class="leftside-menu">

			<!-- LOGO -->
			<a th:href="@{/admin/dashboard}" class="logo text-center logo-light">
				<span class="logo-lg">
					<img th:src="@{/assets/images/logoUnico.png}" alt="" height="30">
				</span>
				<span class="logo-sm">
					<img th:src="@{/assets/images/logoFavicon.png}" alt="" height="25">
				</span>
			</a>

			<!-- LOGO -->
			<a th:href="@{/admin/dashboard}" class="logo text-center logo-dark">
				<span class="logo-lg">
					<img th:src="@{/assets/images/logoUnico.png}" alt="" height="30">
				</span>
				<span class="logo-sm">
					<img th:src="@{/assets/images/logoFavicon.png}" alt="" height="25">
				</span>
			</a>

			<div class="h-100" id="leftside-menu-container" data-simplebar>

				<!--- Sidemenu -->
				<ul class="side-nav">

					<li class="side-nav-title side-nav-item">Navigation</li>

					<li class="side-nav-item"
						th:classappend="${#request.getRequestURI().contains('/dashboard') ? 'active' : '' }">
						<a th:href="@{/admin/dashboard}" class="side-nav-link">
							<i class="uil-home-alt"></i>
							<span> Dashboard </span>
						</a>
					</li>

					<li class="side-nav-item"
						th:classappend="${#request.getRequestURI().contains('customer') || #request.getRequestURI().contains('serviceprovider') || #request.getRequestURI().contains('venue') || (#request.getRequestURI().contains('employee') and !(#request.getRequestURI().contains('assign'))) ? 'menuitem-active' : '' }">
						<a data-bs-toggle="collapse" href="#sidebarEcommerce" aria-expanded="false"
							aria-controls="sidebarEcommerce" class="side-nav-link">
							<i class="uil-users-alt"></i>
							<span> Users </span>
							<span class="menu-arrow"></span>
						</a>
						<div class="collapse" id="sidebarEcommerce">
							<ul class="side-nav-second-level">
								<li th:classappend="${#request.getRequestURI().contains('customer') ? 'active' : '' }">
									<a th:href="@{/admin/list-customer}">Customers</a>
								</li>
								<li th:classappend="${#request.getRequestURI().contains('employee') and !(#request.getRequestURI().contains('assign'))  ? 'active' : '' }">
									<a th:href="@{/admin/list-employee}">Employees</a>
								</li>
								<li
									th:classappend="${#request.getRequestURI().contains('serviceprovider')  ? 'active' : '' }">
									<a th:href="@{/admin/list-serviceprovider}">Service Providers</a>
								</li>
								<li th:classappend="${#request.getRequestURI().contains('venue')  ? 'active' : '' }">
									<a th:href="@{/admin/list-venue}">Venues</a>
								</li>
							</ul>
						</div>
					</li>

					<li class="side-nav-item"
						th:classappend="${#request.getRequestURI().contains('package') ? 'menuitem-active' : ''}">
						<a th:href="@{/admin/list-package}" class="side-nav-link">
							<i class="mdi mdi-package-variant"></i>
							<span> Packages </span>
						</a>
					</li>

					<li class="side-nav-item"
						th:classappend="${#request.getRequestURI().contains('event') or #request.getRequestURI().contains('assign') ? 'menuitem-active' : ''}">
						<a th:href="@{/admin/list-event}" class="side-nav-link">
							<i class="mdi mdi-calendar-multiple-check"></i>
							<span>Events</span>
						</a>
					</li>
					
					<!--
					<li class="side-nav-item">
						<a href="apps-file-manager.html" class="side-nav-link">
							<i class="mdi mdi-currency-inr"></i>
							<span> Attendees </span>
						</a>
					</li>
-->
					<li class="side-nav-item">
						<a th:href="@{/admin/list-payment}" class="side-nav-link">
							<i class="mdi mdi-currency-inr"></i>
							<span> Payments </span>
						</a>
					</li>

					<li class="side-nav-item"
						th:classappend="${#request.getRequestURI().contains('inquiry') ? 'menuitem-active' : ''}">
						<a th:href="@{/admin/list-inquiry}" class="side-nav-link">
							<i class="mdi mdi-account-question"></i>
							<span> Inquiries </span>
						</a>
					</li>

					<!--	<li class="side-nav-item">
						<a data-bs-toggle="collapse" href="#sidebarReports" aria-expanded="false"
							aria-controls="sidebarReports" class="side-nav-link">
							<i class="dripicons-document-new"></i>
							<span> Reports </span>
							<span class="menu-arrow"></span>
						</a>
						<div class="collapse" id="sidebarReports">
							<ul class="side-nav-second-level">
								<li>
									<a href="apps-ecommerce-products.html">Report - 1</a>
								</li>
								<li>
									<a href="apps-ecommerce-products-details.html">Report - 2</a>
								</li>
								<li>
									<a href="apps-ecommerce-orders.html">Report - 3</a>
								</li>
							</ul>
						</div>
					</li> -->


				</ul>
				<!-- End Sidebar -->

				<div class="clearfix"></div>

			</div>
			<!-- Sidebar -left -->

		</div>
		<!-- Left Sidebar End -->

		<!-- ============================================================== -->
		<!-- Start Page Content here -->
		<!-- ============================================================== -->

		<div class="content-page">
			<div class="content">
				<!-- Topbar Start -->
				<div class="navbar-custom">
					<ul class="list-unstyled topbar-menu float-end mb-0">
						<li class="dropdown notification-list">
							<a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown"
								href="#" role="button" aria-haspopup="false" aria-expanded="false">
								<span>
									<span sec:authentication="principal.fullName"></span>
									<span class="account-position">Admin</span>
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown"
								style="min-width: 200px;">
								<!-- item-->
								<div class=" dropdown-header noti-title">
									<h6 class="text-overflow m-0">Welcome <span
											sec:authentication="principal.fullName"></span>!</h6>
								</div>

								<!-- item-->
								<a th:href="@{/change-password}" class="dropdown-item notify-item">
									<i class="mdi mdi-key"></i>
									<span>Change Password</span>
								</a>

								<!-- item-->
								<a th:href="@{/logout}" class="dropdown-item notify-item">
									<i class="mdi mdi-logout me-1"></i>
									<span>Logout</span>
								</a>
							</div>
						</li>

					</ul>
					<button class="button-menu-mobile open-left">
						<i class="mdi mdi-menu"></i>
					</button>
				</div>
				<!-- end Topbar -->
				<th:block layout:fragment="content">
					<p>Changing contents</p>
				</th:block>
			</div>
			<!-- content -->

			<!-- Footer Start -->
			<footer class="footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6">
							<script>document.write(new Date().getFullYear())</script> © Unico - Unico.com
						</div>
						<!--
						<div class="col-md-6">
							<div class="text-md-end footer-links d-none d-md-block">
								<a href="javascript: void(0);">About Us</a>
								<a href="javascript: void(0);">Contact Us</a>
							</div>
						</div>
						-->
					</div>
				</div>
			</footer>
			<!-- end Footer -->

		</div>

		<!-- ============================================================== -->
		<!-- End Page content -->
		<!-- ============================================================== -->


	</div>
	<!-- END wrapper -->

	<!-- bundle -->
	<script th:src="@{/assets/js/vendor.min.js}"></script>
	<script th:src="@{/assets/js/app.min.js}"></script>
	<!-- third party js -->
	<script th:src="@{/assets/js/vendor/apexcharts.min.js}"></script>
	<script th:src="@{/assets/js/vendor/jquery-jvectormap-1.2.2.min.js}"></script>
	<script th:src="@{/assets/js/vendor/jquery-jvectormap-world-mill-en.js}"></script>
	<!-- third party js ends -->

	<!-- demo app -->
	<script th:src="@{/assets/js/pages/demo.dashboard.js}"></script>
	<!-- end demo js-->

	<th:block layout:fragment="script"></th:block>
</body>

<!-- Mirrored from coderthemes.com/hyper_2/saas/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 04 Jan 2022 06:46:22 GMT -->

</html>