<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/_layout}">

<head>
	<title>Add Customer</title>
	<style>
		.page-title-box .page-title-right {
			display: block;
		}
	</style>
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Start Content-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<div class="page-title-right">
							<a th:href="@{/admin/list-customer}" class="btn btn-secondary mb-2">Back</a>
						</div>
						<h4 class="page-title">Add Customer</h4>
					</div>
				</div>
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<form th:action="@{/admin/add_customer}" method="post">
								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="firstname" class="form-label">First Name</label>
										<input class="form-control" th:field="*{userDetailsDTO.firstName}" type="text"
											id="firstname" placeholder="Enter your First name" required>
									</div>
									<div class="mb-3 col-md-6">
										<label for="lastname" class="form-label">Last Name</label>
										<input class="form-control" th:field="*{userDetailsDTO.lastName}" type="text"
											id="lastname" placeholder="Enter your Last name" required>
									</div>
								</div>

								<div class="mb-3">
									<label for="emailaddress" class="form-label">Email address</label>
									<input class="form-control" th:field="*{userDetailsDTO.email}" type="email"
										id="email" required placeholder="Enter your email">
									<p th:if="${#fields.hasErrors('userDetailsDTO.email')}" class="text-danger mt-1"
										th:errors="*{userDetailsDTO.email}"></p>
								</div>
								<div class="mb-3">
									<label for="password" class="form-label">Password</label>
									<div class="input-group input-group-merge mb-1">
										<input class="form-control" th:field="*{userDetailsDTO.password}"
											type="password" required id="password" placeholder="Enter your password">
										<div class="input-group-text" data-password="false">
											<span class="password-eye"></span>
										</div>
									</div>
									<p th:if="${#fields.hasErrors('userDetailsDTO.password')}" class="text-danger mt-1"
										th:errors="*{userDetailsDTO.password}"></p>
									<div>
										<p class="mb-1 text-muted"> &#8226; Password Rules: </p>
										<p class="mb-1 text-muted">Your password must be, <br /> - at least 8 characters
											long,
											<br /> - contain at least one number,
											<br /> - contain at least one special character and <br /> - have a mixture
											of
											uppercase and lowercase
											letters.</pclass="mb-1">
									</div>
								</div>
								<div class="mb-3">
									<label for="mobileNumber" class="form-label">Mobile Number</label>
									<input type="text" class="form-control" th:field="*{userDetailsDTO.mobileNumber}"
										id="mobileNumber" required placeholder="Enter your mobile number"
										data-toggle="input-mask" data-mask-format="0000000000">
									<p th:if="${#fields.hasErrors('userDetailsDTO.mobileNumber')}"
										class="text-danger mt-1" th:errors="*{userDetailsDTO.mobileNumber}"></p>
								</div>
								<div class="mb-3">
									<label for="inputAddress" class="form-label">Address</label>
									<input type="text" class="form-control" th:field="*{addressDTO.address1}"
										id="inputAddress" placeholder="1234 Main St" required>
								</div>

								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="inputAddress2" class="form-label">Address 2</label>
										<input type="text" class="form-control" th:field="*{addressDTO.address2}"
											id="inputAddress2" placeholder="Apartment, studio, or floor">
									</div>
									<div class="mb-3 col-md-6">
										<label for="inputCountry" class="form-label">Country</label>
										<select id="inputCountry" th:field="*{addressDTO.countryId}" class="form-select"
											required>
											<option value="" hidden readonly>--Select Country--</option>
											<option th:each="country : ${countries}" th:value="${country.countryId}"
												th:text="${country.country}"></option>
										</select>
									</div>
								</div>

								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="inputState" class="form-label">State</label>
										<select id="inputState" th:field="*{addressDTO.stateId}" class="form-select"
											required>
											<option value="" hidden readonly>--Select State--</option>
											<option th:each="state : ${states}" th:value="${state.stateId}"
												th:text="${state.state}"></option>
										</select>
									</div>
									<div class="mb-3 col-md-6">
										<label for="inputCity" class="form-label">City</label>
										<select id="inputCity" th:field="*{addressDTO.cityId}" class="form-select"
											required>
											<option value="" hidden readonly>--Select City--</option>
											<option th:each="city : ${cities}" th:value="${city.cityId}"
												th:text="${city.city}">
											</option>
										</select>
									</div>
								</div>

								<div class="mb-3">
									<label for="inputZip" class="form-label">ZIP Code</label>
									<input type="text" class="form-control" th:field="*{addressDTO.postalCode}"
										id="inputZip" data-toggle="input-mask" data-mask-format="000000" required>
								</div>
								<div class="mb-0 d-grid text-center">
									<button class="btn btn-primary" type="submit"><i
											class="mdi mdi-plus-circle me-2"></i>
										Add Customer
									</button>
								</div>
								<!-- social-->

							</form>
						</div>
					</div>
				</div>
			</div>

		</div> <!-- container -->
	</th:block>

	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function () {
				if ($("#inputCountry").find(":selected").val() === "") {
					$("#inputState").prop('disabled', true);
					$("#inputCity").prop('disabled', true);
				}
			});

			$("#inputCountry").change(function () {
				var selectedValue = $(this)
					.find(":selected")
					.val();
				if (selectedValue === "") {
					$("#inputState").val("");
					$("#inputState").prop('disabled', true);

					$("#inputCity").val("");
					$("#inputCity").prop('disabled', true);
				}
				$.ajax({
					type: "GET",
					dataType: 'json',
					url: "/getStates/" + selectedValue + '',
					success: function (result) {
						$("#inputState").prop('disabled', false);
						$("#inputCity").prop('disabled', true);
						$("#inputCity").empty();
						$("#inputCity").append($("<option hidden readonly></option>").val("").html("--Select City--"));
						$("#inputState").empty();
						$("#inputState").append($("<option hidden readonly></option>").val("").html("--Select State--"));
						$.each(result, function () {
							$("#inputState").append($("<option></option>").val(this['stateId']).html(this['state']));
						});
					}
				});
			});

			$("#inputState").change(function () {
				var selectedValue = $(this)
					.find(":selected")
					.val();
				if (selectedValue === "") {
					$("#inputCity").val("");
					$("#inputCity").prop('disabled', true);
				}
				$.ajax({
					type: "GET",
					dataType: 'json',
					url: "/getCities/" + selectedValue + '',
					success: function (result) {
						$("#inputCity").prop('disabled', false);
						$("#inputCity").empty();
						$("#inputCity").append($("<option hidden readonly></option>").val("").html("--Select City--"));
						$.each(result, function () {
							$("#inputCity").append($("<option></option>").val(this['cityId']).html(this['city']));
						});
					}
				});
			});
		</script>
	</th:block>
</body>

</html>