<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/_layout}">

<head>
	<title>Add Venue</title>
	<style>
		.page-title-box .page-title-right {
			display: block;
		}
	</style>
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Start Content-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<div class="page-title-right">
							<a th:href="@{/admin/list-venue}" class="btn btn-secondary mb-2">Back</a>
						</div>
						<h4 class="page-title">Add Venue</h4>
					</div>
				</div>
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<form th:action="@{/admin/add_venue}" method="post">
								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="venueName" class="form-label">Venue Name</label>
										<input class="form-control" type="text" id="venueName"
											th:field="*{venueDTO.venueName}" placeholder="Enter your Venue name"
											required>
									</div>
									<div class="mb-3 col-md-6">
										<label for="emailaddress" class="form-label">Email address</label>
										<input class="form-control" type="email" id="email" required
											th:field="*{venueDTO.email}" placeholder="Enter your email">
									</div>
								</div>

								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="contactNumber" class="form-label">Contact Number</label>
										<input type="text" class="form-control" id="contactNumber" required
											th:field="*{venueDTO.contactNumber}" placeholder="Enter your contact number"
											data-toggle="input-mask" data-mask-format="0000000000">
									</div>
									<div class="mb-3 col-md-6">
										<label for="guestCapacity" class="form-label">Guest Capacity</label>
										<input type="number" id="guestCapacity" class="form-control" required
											th:field="*{venueDTO.guestCapacity}" placeholder="Enter guest capacity">
									</div>
								</div>

								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="cost" class="form-label">Cost</label>
										<input type="number" id="cost" class="form-control" required
											th:field="*{venueDTO.cost}" placeholder="Enter cost">
									</div>
									<div class="mb-3 col-md-6">
										<label for="venueType" class="form-label">Venue Type</label>
										<select id="venueType" th:field=*{venueDTO.venueTypeId} class="form-select">
											<option value="" readonly>--Select Venue Type--</option>
											<option th:each="venueType : ${venueTypes}"
												th:value="${venueType.enuVenueTypeId}" th:text="${venueType.venueType}">
											</option>
										</select>
									</div>
								</div>
								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="eventType" class="form-label">Available Event Types</label>

										<select class="select2 form-control select2-multiple" data-toggle="select2"
											th:field=*{venueTempDTO.selectedEventTypes} multiple="multiple"
											data-placeholder="Select multiple event eype ...">
											<optgroup>
												<option th:each="eventType : ${eventTypes}"
													th:value="${eventType.eventTypeId}"
													th:text="${eventType.eventType}"></option>
											</optgroup>
										</select>
									</div>
									<div class="mb-3 col-md-6">
										<label for="facilities" class="form-label">Available Facilities</label>

										<select class="select2 form-control select2-multiple" data-toggle="select2"
											th:field=*{venueTempDTO.selectedFacilities} multiple="multiple"
											data-placeholder="Select multiple facility  ...">
											<optgroup>
												<option th:each="facility : ${facilities}"
													th:value="${facility.venueFacilityId}"
													th:text="${facility.facility}"></option>
											</optgroup>
										</select>
									</div>
									<div class="mb-3">
										<label for="description" class="form-label">Description</label>
										<textarea th:field="${venueDTO.description}" class="form-control"
											id="example-textarea" rows="3"></textarea>
									</div>
								</div>

								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="inputAddress" class="form-label">Address</label>
										<input type="text" class="form-control" th:field="*{addressDTO.address1}"
											id="inputAddress" placeholder="1234 Main St">
									</div>

									<div class="mb-3 col-md-6">
										<label for="inputAddress2" class="form-label">Address 2</label>
										<input type="text" class="form-control" th:field="*{addressDTO.address2}"
											id="inputAddress2" placeholder="Apartment, studio, or floor">
									</div>
								</div>


								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="inputCountry" class="form-label">Country</label>
										<select id="inputCountry" th:field="*{addressDTO.countryId}"
											class="form-select">
											<option value="" readonly>--Select Country--</option>
											<option th:each="country : ${countries}" th:value="${country.countryId}"
												th:text="${country.country}"></option>
										</select>
									</div>
									<div class="mb-3 col-md-6">
										<label for="inputState" class="form-label">State</label>
										<select id="inputState" th:field="*{addressDTO.stateId}" class="form-select"
											disabled>
											<option value="">--Select State--</option>
										</select>
									</div>
								</div>

								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="inputCity" class="form-label">City</label>
										<select id="inputCity" th:field="*{addressDTO.cityId}" class="form-select"
											disabled>
											<option value="" readonly>--Select City--</option>
										</select>
									</div>
									<div class="mb-3 col-md-6">
										<label for="inputZip" class="form-label">ZIP Code</label>
										<input type="text" class="form-control" th:field="*{addressDTO.postalCode}"
											id="inputZip" data-toggle="input-mask" data-mask-format="000000"
											placeholder="Enter zip code">
									</div>
								</div>
								<div class="row g-2">
									<div class="mb-3 col-md-6">
										<label for="latitude" class="form-label">Latitude</label>
										<input type="text" class="form-control" th:field=*{venueDTO.latitude}
											id="latitude" data-toggle="input-mask" placeholder="Enter latitude">
									</div>
									<div class="mb-3 col-md-6">
										<label for="Longitude" class="form-label">Longitude</label>
										<input type="text" class="form-control" th:field=*{venueDTO.longitude}
											id="Longitude" data-toggle="input-mask" placeholder="Enter longitude">
									</div>
								</div>

								<div class="mb-0 d-grid text-center">
									<button class="btn btn-primary" type="submit"><i
											class="mdi mdi-plus-circle me-2"></i>
										Add Venue
									</button>
								</div>
								<!-- social-->
							</form>
						</div>
					</div>
				</div>
			</div>

		</div> <!-- container -->
	</th:block>

	<th:block layout:fragment="script">
		<script type="text/javascript">
			$("#inputCountry").change(function () {
				var selectedValue = $(this)
					.find(":selected")
					.val();
				if (selectedValue === "") {
					$("#inputState").val("");
					$("#inputState").prop('disabled', true);

					$("#inputCity").val("");
					$("#inputCity").prop('disabled', true);
				}
				$.ajax({
					type: "GET",
					dataType: 'json',
					url: "/getStates/" + selectedValue + '',
					success: function (result) {
						$("#inputState").prop('disabled', false);
						$("#inputState").empty();
						$("#inputState").append($("<option></option>").val("").html("--Select State--"));
						$.each(result, function () {
							$("#inputState").append($("<option></option>").val(this['stateId']).html(this['state']));
						});
					}
				});
			});

			$("#inputState").change(function () {
				var selectedValue = $(this)
					.find(":selected")
					.val();
				if (selectedValue === "") {
					$("#inputCity").val("");
					$("#inputCity").prop('disabled', true);
				}
				$.ajax({
					type: "GET",
					dataType: 'json',
					url: "/getCities/" + selectedValue + '',
					success: function (result) {
						$("#inputCity").prop('disabled', false);
						$("#inputCity").empty();
						$("#inputCity").append($("<option></option>").val("").html("--Select City--"));
						$.each(result, function () {
							$("#inputCity").append($("<option></option>").val(this['cityId']).html(this['city']));
						});
					}
				});
			});
		</script>
	</th:block>
</body>

</html>