<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/_layout}">

<head>
<title>Add Customer</title>
<style>
.page-title-box .page-title-right {
	display: block;
}
</style>
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Start Content-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Change Password</h4>
					</div>
				</div>
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div th:if="${error != null}" id ="errorDiv" class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
						<span th:text="${error}" id="errorSpan"></span>
					</div>
					<div th:if="${message != null}" class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
						<span th:text="${message}"></span>
				</div>
							<form th:action="@{/change-password}" method="post">
								<div class="mb-3 input-group input-group-merge">
									<label for="oldPassword" class="form-label">Old Password</label>
									<div class="input-group input-group-merge">
										<input type="password" id="oldPassword" class="form-control"
											placeholder="Enter your old password">
										<div class="input-group-text" data-password="false">
											<span class="password-eye"></span>
										</div>
									</div>
								</div>
								<div class="mb-3">
									<label for="newPassword" class="form-label">New Password</label>
										<div class="input-group input-group-merge">
										<input type="password" id="newPassword" class="form-control"
											placeholder="Enter your new password">
										<div class="input-group-text" data-password="false">
											<span class="password-eye"></span>
										</div>
									</div>
								</div>
								<div class="mb-3">
									<label for="confirmPassword" class="form-label">Confirm	Password</label>
									<div class="input-group input-group-merge">
										<input type="password" id="confirmPassword" class="form-control"
											placeholder="Enter your confirm password">
										<div class="input-group-text" data-password="false">
											<span class="password-eye"></span>
										</div>
								</div>
								<div class="mb-0 d-grid text-center">
									<button class="btn btn-primary" type="submit" onclick="validatePassword();">
										<i class="mdi mdi-plus-circle me-2"></i> Change Password
									</button>
								</div>
								<!-- social-->

							</form>
						</div>
					</div>
				</div>
			</div>
		<script type="text/javascript">
			function validatePassword() {
				var newPassword = $("#newPassword").val();
			    var confirmPassword = $("#confirmPassword").val();
			    if (password != confirmPassword)
			    	$("errorDiv").show();
			        $("#errorSpan").html("Passwords does not match!");
			    else
			        $("#errorDiv").hide();
			}
	     </script>
		</div>
		<!-- container -->
</body>

</html>