<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/_layout}">

<head>
	<title>Customers List</title>
	<!-- third party css -->
	<link th:href="@{/assets/css/vendor/dataTables.bootstrap5.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/vendor/responsive.bootstrap5.css}" rel="stylesheet" type="text/css" />


</head>

<body>
	<th:block layout:fragment="content">
		<!-- Start Content-->
		<div class="container-fluid">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<div class="page-title-right">
							<a th:href="@{/admin/add_customer}" class="btn btn-danger mb-2"><i
									class="mdi mdi-plus-circle me-2"></i> Add Customer</a>
						</div>
						<h4 class="page-title">Customers</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="basic-datatable" class="table dt-responsive nowrap w-100">
									<thead>
										<tr>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Address</th>
											<th>Email Address</th>
											<th>Mobile Number</th>
											<th style="width: 85px;">Action</th>
										</tr>
									</thead>


									<tbody>
										<tr th:each="customer : ${customers}">
											<td th:text="${customer.firstName}"></td>
											<td th:text="${customer.lastName}"></td>
											<td
												th:utext="${#strings.replace(addresses[customerStat.index],'&#10;','&lt;br&gt;')}">
											</td>
											<td th:text="${customer.email}"></td>
											<td th:text="${customer.mobileNumber}"></td>
											<td class="table-action">
												<a th:href="@{'/admin/view_customer/' + ${customer.userDetailsId}}"
													class="action-icon"> <i class="mdi mdi-eye"></i></a>
												<a th:href="@{'/admin/edit_customer/' + ${customer.userDetailsId}}"
													class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
												<div th:if="${customer.isActive}" style="display:inline-block;">
													<a data-bs-toggle="modal" th:data-bs-target="'#staticBackdropDelete' + ${customer.userDetailsId}"
														th:href="@{'/admin/delete_customer/' + ${customer.userDetailsId}}"
														class="action-icon"> <i class="mdi mdi-delete"></i></a>
													<!-- Modal -->
													<div class="modal fade" th:id="'staticBackdropDelete' + ${customer.userDetailsId}"
														data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
														aria-labelledby="staticBackdropLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="staticBackdropLabel">
																		Delete Customer
																	</h5>
																	<button type="button" class="btn-close"
																		data-bs-dismiss="modal"
																		aria-hidden="true"></button>
																</div> <!-- end modal header -->
																<div class="modal-body">
																	Are you sure you want to deactive this customer?
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary"
																		data-bs-dismiss="modal">Close</button>
																	<a type="button"
																		th:href="@{'/admin/delete_customer/' + ${customer.userDetailsId}}"
																		class="btn btn-danger">Delete</a>
																</div> <!-- end modal footer -->
															</div> <!-- end modal content-->
														</div> <!-- end modal dialog-->
													</div> <!-- end modal-->
												</div>
												<div th:unless="${customer.isActive}" style="display:inline-block;">
													<a data-bs-toggle="modal" th:data-bs-target="'#staticBackdropActivate' + ${customer.userDetailsId}"
														th:href="@{'/admin/activate_customer/' + ${customer.userDetailsId}}"
														class="action-icon"> <i class="mdi mdi-account-check"></i></a>
													<!-- Modal -->
													<div class="modal fade" th:id="'staticBackdropActivate' + ${customer.userDetailsId}"
														data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
														aria-labelledby="staticBackdropLabel1" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="staticBackdropLabel1">
																		Activate Customer
																	</h5>
																	<button type="button" class="btn-close"
																		data-bs-dismiss="modal"
																		aria-hidden="true"></button>
																</div> <!-- end modal header -->
																<div class="modal-body">
																	Are you sure you want to active this customer?
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary"
																		data-bs-dismiss="modal">Close</button>
																	<a type="button"
																		th:href="@{'/admin/activate_customer/' + ${customer.userDetailsId}}"
																		class="btn btn-danger">Activate</a>
																</div> <!-- end modal footer -->
															</div> <!-- end modal content-->
														</div> <!-- end modal dialog-->
													</div> <!-- end modal-->
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div> <!-- end card-body-->
					</div> <!-- end card-->
				</div> <!-- end col -->
			</div>
			<!-- end row -->

		</div> <!-- container -->
	</th:block>

	<th:block layout:fragment="script">
		<!-- third party js -->
		<script th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/js/vendor/dataTables.bootstrap5.js}"></script>
		<script th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/js/vendor/responsive.bootstrap5.min.js}"></script>

		<!-- third party js ends -->

		<!-- demo app -->
		<script th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
		<!-- end demo js-->
	</th:block>
</body>

</html>