<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layoutPage}}">

<head>
	<title>Event Bill</title>
	<style>
		.page-title-box .page-title-right {
			display: block;
		}

		@media print {
			@page {
				margin: 0;
			}

			body {
				margin-right: 1rem;
				margin-left: 1rem;
			}
		}
	</style>
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Start Content-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<!-- <span th:text="${layoutPage}"></span> -->
						<div th:if="${layoutPage.contains('admin')}" class="page-title-right d-print-none">
							<a th:href="@{/admin/list-event}" class="btn btn-secondary mb-2">Back</a>
						</div>
						<div th:if="${#strings.equals(layoutPage, 'customer/_layout')}" class="page-title-right d-print-none">
							<a th:href="@{/customer/manage-events}" class="btn btn-secondary mb-2">Back</a>
						</div>
						<h4 class="page-title">Event Bill</h4>
					</div>
				</div>
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<!-- Invoice Logo-->
							<div class="clearfix">
								<div class="float-start mb-3">
									<img th:src="@{/assets/images/logoUnico.png}" alt="" height="34">
								</div>
							</div>

							<!-- Invoice Detail-->
							<div class="row">
								<div class="col-sm-6">
									<div class="mt-3">
										<p><b>Hello, <span
													th:text="${eventVenueDetails.firstName} + ' ' + ${eventVenueDetails.lastName}"></span></b>
										</p>
										<p class="text-muted font-13"><span>Please find below a bill for the Event. </span><b><span th:text="|(${eventVenueDetails.eventTitle})|"></span></b>
										</p>
										<p class="font-13"><strong>Mobile Number: </strong> <span
												th:text="${eventVenueDetails.mobileNumber}"></span></p>
									</div>

								</div><!-- end col -->
								<div class="col-sm-4 offset-sm-2">
									<div class="mt-3 float-sm-end">
										<p class="font-13"><strong>Event Date: </strong> &nbsp;&nbsp;&nbsp; <span
												th:text="${eventVenueDetails.eventStartDate}"></span><span
												th:if="${eventVenueDetails.eventStartDate != eventVenueDetails.eventEndDate}"
												th:text="' - '+ ${eventVenueDetails.eventEndDate}"></span>
										</p>
										<p class="font-13"><strong>Event Type: </strong> &nbsp;&nbsp;&nbsp; <span
												th:text="${eventVenueDetails.eventType}"></span></p>
									</div>
								</div><!-- end col -->
							</div>
							<!-- end row -->
						</div>
						<!-- end row -->

						<div class="row">
							<div class="col-12">
								<div class="table-responsive">
									<table class="table mt-4">
										<thead>
											<tr>
												<th>#</th>
												<th>Service</th>
												<th>Description</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>1</td>
												<td>Venue
												</td>
												<td>
													<span
														th:text="${eventVenueDetails.venueName} + ', ' + ${venueAddress}">
													</span>
												</td>
											</tr>
											<tr th:each="serviceProvider: ${serviceProviders}">
												<td th:text="${serviceProviderStat.index + 2}"></td>
												<td th:text="${serviceProvider.service}" />
												<td
													th:text="|${serviceProvider.serviceProviderName}, ${serviceProviderAddresses[serviceProviderStat.index]}|" />
											</tr>
										</tbody>
									</table>
								</div> <!-- end table-responsive-->
							</div> <!-- end col -->
						</div>
						<!-- end row -->

						<div class="row">

							<div class="col-sm-12">
								<div class="float-end mt-3 mt-sm-0" style="margin-right: 3rem;">
									<h3><span>Total Amount : </span><i class="mdi mdi-currency-inr"
											style="font-size: 24px;padding-right: 0.5rem;"></i><span
											th:text="${finalTotal}"></span></h3>
								</div>
								<div class="clearfix"></div>
							</div> <!-- end col -->
						</div>
						<!-- end row-->

						<div class="d-print-none mt-3 mb-3">
							<div class="text-end" style="margin-right: 3rem;">
								<a href="javascript:window.print()" class="btn btn-primary"><i
										class="mdi mdi-printer"></i> Print</a>
							</div>
						</div>
						<!-- end buttons -->

					</div>
				</div>
			</div>
		</div>

		</div> <!-- container -->
	</th:block>

	<th:block layout:fragment="script">
		<script type="text/javascript">

		</script>
	</th:block>
</body>

</html>