<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{admin/_layout}">
   <head>
      <title>Inquiry Response</title>
      <!-- third party css -->
      <link th:href="@{/assets/css/vendor/responsive.bootstrap5.css}" rel="stylesheet" type="text/css" />
      <link th:href="@{/assets/css/vendor/quill.core.css}" rel="stylesheet" type="text/css" />
      <link th:href="@{/assets/css/vendor/quill.snow.css}" rel="stylesheet" type="text/css" />
   </head>
   <body>
      <th:block layout:fragment="content">
         <!-- Start Content-->
         <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
               <div class="col-12">
                  <div class="page-title-box">
                  <div class="page-title-right">
							<a th:href="@{/admin/list-inquiry}"
								class="btn btn-secondary mb-2">Back</a>
						</div>
                     <h4 class="page-title">Inquiry Response</h4>
                  </div>
               </div>
            </div>
            <!-- end page title -->
            <div class="row">
               <div class="col-12">
                  <div class="card">
                     <div class="card-body">
							<form th:action="@{/admin/response_inquiry}" method="post">
							<input type="hidden" th:field="*{inquiry.enquiryId}" />
							<input type="hidden" th:field="*{inquiry.email}" />
							<input type="hidden" th:field="*{inquiry.personName}" />
								<div class="tab-content">
                                                    <div class="tab-pane show active" id="hint-emoji-preview">
                                                        <div id="snow-editor" style="height: 300px;">
                                                        </div><!-- end Snow-editor-->
                                                    </div> <!-- end preview-->
								</div>
                                        <div class="mb-0 d-grid text-center">
									<button class="btn btn-primary mt-3" type="submit"><i
											class="mdi mdi-plus-circle me-2"></i>
										Send Email
									</button>
								</div>        
							</form>
						</div>
                     <!-- end card-body-->
                  </div>
                  <!-- end card-->
               </div>
               <!-- end col -->
            </div>
            <!-- end row -->
         </div>
         <!-- container -->
      </th:block>
      <th:block layout:fragment="script">
         <!-- third party js -->
         <script th:src="@{/assets/js/vendor/responsive.bootstrap5.min.js}"></script>
         <!-- quill js -->
         <script th:src="@{/assets/js/vendor/quill.min.js}"></script>
         <!-- Init js-->
        <script th:src="@{/assets/js/pages/demo.quilljs.js}"></script>
      </th:block>
   </body>
</html>