<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{${layoutPage}}">

<head>
	<title>Assigned Events List</title>
	<!-- third party css -->
	<link th:href="@{/assets/css/vendor/dataTables.bootstrap5.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/vendor/responsive.bootstrap5.css}" rel="stylesheet" type="text/css" />
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Start Content-->
		<div class="container-fluid">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Assigned Events</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="basic-datatable" class="table dt-responsive nowrap w-100">
									<thead>
										<tr>
											<th>Event Title</th>
											<th>Event Type</th>
											<th th:if="${layoutTitle} == 'Event Organizer'">Venue</th>
											<th th:if="${layoutTitle} == 'Event Organizer'">Start Date</th>
											<th th:if="${layoutTitle} == 'Event Organizer'">Start Time</th>
											<th th:if="${layoutTitle} == 'Employee'">Work Description</th>
											<th th:if="${layoutTitle} == 'Employee'">Status</th>
											<th style="width: 85px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="upcomingEvent : ${upcomingEventWorkDTOs}">
											<td th:text="${upcomingEvent.eventTitle}"></td>
											<td th:text="${upcomingEvent.eventType}"></td>
											<td th:if="${layoutTitle} == 'Event Organizer'" th:text="${upcomingEvent.venueName}"></td>
											<td th:if="${layoutTitle} == 'Event Organizer'" th:text="${#dates.format(upcomingEvent.startDate,'MMM dd, yyyy')}"></td>
											<td th:if="${layoutTitle} == 'Event Organizer'" th:text="${upcomingEvent.startTime}"></td>
											<td th:if="${layoutTitle} == 'Employee'" th:text="${upcomingEvent.workDescription}"></td>
											<td th:if="${layoutTitle} == 'Employee' and ${upcomingEvent.status == 'Assigned'}">
												<span class="badge bg-primary"
													th:text="${upcomingEvent.status}"></span>
											</td>
											<td th:if="${layoutTitle} == 'Employee' and ${upcomingEvent.status == 'In Progress'}">
												<span class="badge bg-danger"
													th:text="${upcomingEvent.status}"></span>
											</td>
											<td th:if="${layoutTitle} == 'Employee' and ${upcomingEvent.status == 'Completed'}">
												<span class="badge bg-success"
													th:text="${upcomingEvent.status}"></span>
											</td>
											<td th:if="${layoutTitle} == 'Employee'" class="table-action">
												<a th:href="@{'/employee/view_event/' + ${upcomingEvent.eventId}}"
													class="action-icon"> <i class="mdi mdi-eye"></i></a>
												<a th:href="@{'/employee/edit_work_details/' + ${upcomingEvent.eventId}}"
													class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
											</td>
											<td th:if="${layoutTitle} == 'Event Organizer'" class="table-action">
												<a th:href="@{'/employee/view_event/' + ${upcomingEvent.eventId}}"
													class="action-icon"> <i class="mdi mdi-eye"></i></a>
												<div id="tooltip-container2" style="display: inline-block;">
													<a th:href="@{'/assign_employee/' + ${upcomingEvent.eventId}}"
														class="action-icon" data-bs-container="#tooltip-container2"
														data-bs-toggle="tooltip" data-bs-placement="top"
														title="Assign employee for the event"> <i
															class="mdi mdi-account-tie"></i></a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div> <!-- end card-body-->
					</div> <!-- end card-->
				</div> <!-- end col -->
			</div>
			<!-- end row -->

		</div> <!-- container -->
	</th:block>

	<th:block layout:fragment="script">
		<!-- third party js -->
		<script th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/js/vendor/dataTables.bootstrap5.js}"></script>
		<script th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/js/vendor/responsive.bootstrap5.min.js}"></script>

		<!-- third party js ends -->

		<!-- demo app -->
		<script th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
		<!-- end demo js-->
	</th:block>
</body>

</html>