<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{serviceprovider/_layout}">

<head>
	<title>Feedback</title>
	<!-- third party css -->
	<link th:href="@{/assets/css/vendor/dataTables.bootstrap5.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/vendor/responsive.bootstrap5.css}" rel="stylesheet" type="text/css" />


</head>

<body>
	<th:block layout:fragment="content">
		<!-- Start Content-->
		<div class="container-fluid">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Feedback of work</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="basic-datatable" class="table dt-responsive nowrap w-100">
									<thead>
										<tr>
											<th>Event Title</th>
											<th>Event Type</th>
											<th>End Date-Time</th>
											<th>Ratings</th>
											<th>Description</th>
											<th style="width: 85px;">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="completedEvent : ${completedEventWorkDTOs}">
											<td th:text="${completedEvent.eventTitle}"></td>
											<td th:text="${completedEvent.eventType}"></td>
											<td th:text="|${#dates.format(completedEvent.endDate,'MMM dd, yyyy')} ${completedEvent.endTime}|"></td>
											<td th:text="|${completedEvent.serviceProviderRating}/5|"></td>
											<td th:text="${completedEvent.serviceProviderDescription}"></td>
											<td class="table-action">
												<a th:href="@{'/serviceprovider/view_event/' + ${completedEvent.eventId}}"
													class="action-icon"> <i class="mdi mdi-eye"></i></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div> <!-- end card-body-->
					</div> <!-- end card-->
				</div> <!-- end col -->
			</div>
			<!-- end row -->

		</div> <!-- container -->
	</th:block>

	<th:block layout:fragment="script">
		<!-- third party js -->
		<script th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/js/vendor/dataTables.bootstrap5.js}"></script>
		<script th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/js/vendor/responsive.bootstrap5.min.js}"></script>

		<!-- third party js ends -->

		<!-- demo app -->
		<script th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
		<!-- end demo js-->
	</th:block>
</body>

</html>