<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{serviceprovider/_layout}">

<head>
	<title>Dashboard</title>
</head>

<body>
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Dashboard</h4>
					</div>
				</div>
				<div class="col-xxl-3 col-sm-6">
					<div class="card widget-flat bg-info text-white">
						<div class="card-body">
							<div class="float-end">
								<i class="mdi mdi-calendar-sync widget-icon bg-white text-info"></i>
							</div>
							<h6 class="text-uppercase mt-0" title="Ongoing Events">Ongoing Events</h6>
							<h3 class="mt-3 mb-3" th:text="${serviceProviderDashboardDTO.ongoingEventCount}"></h3>
						</div>
					</div>
				</div> <!-- end col-->

				<div class="col-xxl-3 col-sm-6">
					<div class="card widget-flat bg-info text-white">
						<div class="card-body">
							<div class="float-end">
								<i class="mdi mdi-calendar-check widget-icon bg-white text-info"></i>
							</div>
							<h6 class="text-uppercase mt-0" title="Completed Events">Completed Events</h6>
							<h3 class="mt-3 mb-3" th:text="${serviceProviderDashboardDTO.participatedEventCount}"></h3>
						</div>
					</div>
				</div> <!-- end col-->

				<div class="col-xxl-3 col-sm-6">
					<div class="card widget-flat bg-info text-white">
						<div class="card-body">
							<div class="float-end">
								<i class="mdi mdi-account-group widget-icon bg-white text-info"></i>
							</div>
							<h6 class="text-uppercase mt-0" title="Total Participated Packages">Total Participated Packages</h6>
							<h3 class="mt-3 mb-3" th:text="${serviceProviderDashboardDTO.packageCount}"></h3>
						</div>
					</div>
				</div> <!-- end col-->

				<div class="col-xxl-3 col-sm-6">
					<div class="card widget-flat bg-info text-white">
						<div class="card-body">
							<div class="float-end">
								<i class="mdi mdi-account-star widget-icon bg-white text-info"></i>
							</div>
							<h6 class="text-uppercase mt-0" title="Average Review">Average Review</h6>
							<h3 class="mt-3 mb-3" th:text="${serviceProviderDashboardDTO.reviewCount}"></h3>
						</div>
					</div>
				</div> <!-- end col-->

				<div class="col-xl-6">
					<div class="card">
						<div class="card-body">
							<h4 class="header-title mb-2">Upcoming Events</h4>
							<div data-simplebar style="max-height: 525px;">
								
							</div> <!-- end slimscroll -->
						</div>
						<!-- end card-body -->
					</div>
					<!-- end card-->
				</div>
				<!-- end col -->

				<div class="col-xl-6">
					<div class="card">
						<div class="card-body">
							<h4 class="header-title mb-2">Participated Event History</h4>
							<div data-simplebar style="max-height: 525px;">
								
							</div> <!-- end slimscroll -->
						</div>
						<!-- end card-body -->
					</div>
					<!-- end card-->
				</div>
				<!-- end col -->
			</div>
		</div>
	</th:block>
</body>

</html>