<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Log In - Unico</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
	<meta content="Coderthemes" name="author" />
	<!-- App favicon -->
	<link rel="shortcut icon" th:href="@{/assets/images/logoFavicon.png}">

	<!-- App css -->
	<link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css" id="light-style" />
	<link th:href="@{/assets/css/app-dark.min.css}" rel="stylesheet" type="text/css" id="dark-style" />

</head>

<body class="authentication-bg pb-0" data-layout-config='{"darkMode":false}'>

	<div class="auth-fluid">
		<!--Auth fluid left content -->
		<div class="auth-fluid-form-box">
			<div class="align-items-center d-flex h-100">
				<div class="card-body">

					<!-- Logo -->
					<div class="auth-brand text-center text-lg-start">
						<a th:href="@{/home}" class="logo-dark">
							<span><img th:src="@{assets/images/logoUnico.png}" alt="" height="40"></span>
						</a>
						<a th:href="@{/home}" class="logo-light">
							<span><img th:src="@{assets/images/logoFavicon.png}" alt="" height="20"></span>
						</a>
					</div>

					<!-- title-->
					<h4 class="mt-0">Sign In</h4>
					<p class="text-muted mb-4">Enter your email address and password to access account.</p>

					<!-- form -->
					<form th:action="@{/login}" method="post">
						<div th:if="${param.error}">
							<!--<p>[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>-->
							<p class="text-danger"
								th:if="${session.SPRING_SECURITY_LAST_EXCEPTION.message} == 'Bad credentials'"
								text="Incorrect username or password.">
								Incorrect username or password. Please double-check and try again.</p>
						</div>
						<div class="mb-3">
							<label for="emailaddress" class="form-label">Email address</label>
							<input class="form-control" type="email" id="username" name="username" required=""
								placeholder="Enter your email">
						</div>
						<div class="mb-3">
							<a th:href="@{forgot-password}" class="text-muted float-end"><small>Forgot your
									password?</small></a>
							<label for="password" class="form-label">Password</label>
							<div class="input-group input-group-merge">
								<input class="form-control" type="password" required="" id="password" name="password"
									placeholder="Enter your password">
								<div class="input-group-text" data-password="false">
									<span class="password-eye"></span>
								</div>
							</div>
						</div>
						<div class="d-grid mb-0 text-center">
							<button class="btn btn-primary" type="submit"><i class="mdi mdi-login"></i> Log In </button>
						</div>
						<!-- social-->
					</form>
					<!-- end form-->

					<!-- Footer-->
					<footer class="footer footer-alt">
						<p class="text-muted">Don't have an account? <a th:href="@{/customer-registration}"
								class="text-muted ms-1"><b>Sign Up</b></a></p>
					</footer>

				</div> <!-- end .card-body -->
			</div> <!-- end .align-items-center.d-flex.h-100-->
		</div>
		<!-- end auth-fluid-form-box-->

		<!-- Auth fluid right content -->
		<div class="auth-fluid-right text-center imgBanner">
			<div class="auth-user-testimonial">
				<p class="lead"><i class="mdi mdi-format-quote-open"></i> Be a guest at your own event!
					<i class="mdi mdi-format-quote-close"></i>
				</p>
				<h2 class="mb-3">- Unico</h2>
			</div> <!-- end auth-user-testimonial-->
		</div>
		<!-- end Auth fluid right content -->
	</div>
	<!-- end auth-fluid-->

	<!-- bundle -->
	<script th:src="@{/assets/js/vendor.min.js}"></script>
	<script th:src="@{/assets/js/app.min.js}"></script>

</body>

</html>