<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{${layoutPage}}">

<head>
	<title>Packages</title>
</head>

<body>
	<th:block layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-8">
					<div class="page-title-box">
						<h4 class="page-title">Available Packages</h4>
					</div>
				</div>
				<div class="col-4 mt-3">
					<form>
						<div class="text-sm-end">
							<div class="mb-3 ms-1 d-flex align-items-center">
								<label for="eventType-select" class="me-2">Event Type</label>
								<select class="form-select" id="eventType-select" style="width: 70%;">
									<option value="-1" selected readonly>All</option>
									<option th:each="eventName : ${eventNames}" th:value="${eventName.eventTypeId}"
										th:text="${eventName.eventType}"></option>
								</select>
								<!--
							<button type="button" class="btn btn-primary">All</button>
							<div th:each="eventName : ${eventNames}">
								<button id="eventIs + '${eventName.eventType}'" type="button" class="btn btn-light" th:text="${eventName.eventType}"></button>
							</div>
							-->
							</div>
						</div>
					</form>
				</div>
			</div>

			<div id="main"></div>
		</div>
	</th:block>

	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function () {
				var value = $(this).find(":selected").val();
				var urlToCall = "getPackagesOfEvent/" + value + '';
				$.get(urlToCall).done(function (result) {
					$("#main").replaceWith(result);
				});
			});

			$("#eventType-select").change(function () {
				var value = $(this).find(":selected").val();
				var urlToCall = "getPackagesOfEvent/" + value + '';
				// console.log(value);
				$.get(urlToCall).done(function (result) { // get from controller
					$("#main").replaceWith(result); // update snippet of page
				});
			});
		</script>
	</th:block>
</body>

</html>