<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/_layout}">

<head>
	<title>Change Password</title>
	<style>
		.page-title-box .page-title-right {
			display: block;
		}
		
		#errorDiv, #errorSpan {
			display: none;
		}
	</style>
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Start Content-->
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">Change Password</h4>
					</div>
				</div>
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div th:if="${error != null}"
								class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show"
								role="alert">
								<span th:text="${error}"></span>
							</div>
							
							<div id="errorDiv"
								class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show"
								role="alert">
								<span id="errorSpan"></span>
							</div>
							
							<div>
								<p class="mb-1 text-muted"> &#8226; Password Rules: </p>
								<p class="mb-1 text-muted">Your password must be, <br /> - at least 8 characters long,
									<br /> - contain at least one number,
									<br /> - contain at least one special character and <br /> - have a mixture of
									uppercase and lowercase
									letters.</pclass="mb-1">
							</div>
							
							<div th:if="${message != null}"
								class="alert alert-success alert-dismissible bg-success text-white border-0 fade show"
								role="alert">
								<span th:text="${message}"></span>
							</div>
							<form th:action="@{/change-password}" method="post">
								<div class="mb-3 input-group input-group-merge">
									<label for="oldPassword" class="form-label">Old Password</label>
									<div class="input-group input-group-merge">
										<input type="password" id="oldPassword" name="oldPassword" class="form-control"
											placeholder="Enter your old password" required>
										<div class="input-group-text" data-password="false">
											<span class="password-eye"></span>
										</div>
									</div>
								</div>
								<div class="mb-3">
									<label for="newPassword" class="form-label">New Password</label>
									<div class="input-group input-group-merge">
										<input type="password" id="newPassword" name="newPassword" class="form-control"
											placeholder="Enter your new password" required>
										<div class="input-group-text" data-password="false">
											<span class="password-eye"></span>
										</div>
									</div>
								</div>
								<div class="mb-3">
									<label for="confirmPassword" class="form-label">Confirm Password</label>
									<div class="input-group input-group-merge">
										<input type="password" id="confirmPassword" class="form-control"
											placeholder="Enter your confirm password" required>
										<div class="input-group-text" data-password="false">
											<span class="password-eye"></span>
										</div>
									</div>
								</div>
								<div class="mb-0 d-grid text-center">
									<button id="btnSubmit" class="btn btn-primary" type="submit">
										<i class="mdi mdi-plus-circle me-2"></i> Change Password
									</button>
								</div>
								<!-- social-->

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script type="text/javascript">
			function validatePassword() {
				var newPassword = $("#newPassword").val();
				var confirmPassword = $("#confirmPassword").val();
				console.log(newPassword);
				if (newPassword != confirmPassword) {
					$("#errorDiv").show();
					$("#errorSpan").show();
					$("#btnSubmit").prop("disabled",true);
					$("#errorSpan").html("Passwords does not match!");
				}
				else {
					$("#errorDiv").hide();
					$("#errorSpan").hide();
					$("#btnSubmit").prop("disabled",false);
				}
			}
			$(document).ready(function () {
				$("#confirmPassword").keyup(validatePassword);
			});
		</script>
	</th:block>
	<!-- container -->
</body>

</html>