<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{customer/_layout}">

<head>
	<title>Manage Events</title>
	<!-- third party css -->
	<link th:href="@{/assets/css/vendor/dataTables.bootstrap5.css}" rel="stylesheet" type="text/css" />
	<link th:href="@{/assets/css/vendor/responsive.bootstrap5.css}" rel="stylesheet" type="text/css" />
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
	<th:block layout:fragment="content">
		<!-- Start Content-->
		<div class="container-fluid">

			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<h4 class="page-title">My Events</h4>
					</div>
				</div>
			</div>
			<!-- end page title -->

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-body">
							<div class="table-responsive">
								<table id="basic-datatable" class="table dt-responsive nowrap w-100">
									<thead>
										<tr>
											<th>Event Title</th>
											<th>Event Type</th>
											<th>Amount</th>
											<th>Status</th>
											<th style="width: 85px;">Action</th>
										</tr>
									</thead>

									<tbody>
										<tr th:each="event : ${events}">
											<td th:text="${event.eventTitle}"></td>
											<td th:text="${eventTypes[eventStat.index]}"></td>
											<td th:text="${event.totalCost}"></td>
											<td th:if="${eventStatuses[eventStat.index] == 'Registered'}"><span
													class="badge bg-primary"
													th:text="${eventStatuses[eventStat.index]}"></span></td>
											<td th:if="${eventStatuses[eventStat.index] == 'Verified'}"><span
													class="badge bg-danger"
													th:text="${eventStatuses[eventStat.index]}"></span></td>
											<td th:if="${eventStatuses[eventStat.index] == 'Completed'}"><span
													class="badge bg-success"
													th:text="${eventStatuses[eventStat.index]}"></span></td>
											<td class="table-action">
												<a th:href="@{'/customer/view_event/' + ${event.eventId}}"
													class="action-icon"> <i class="mdi mdi-eye"></i></a>

												<a th:if="${event.isActive} and (${eventStatuses[eventStat.index] == 'Verified'} or ${eventStatuses[eventStat.index] == 'Registered'} )"
													th:href="@{'/customer/edit_event/' + ${event.eventId}}"
													class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>

												<div style="display: inline-block;">
													<a th:if="${event.isActive} and ${eventStatuses[eventStat.index] == 'Verified'} and ${canComplete[eventStat.index] == true}"
														th:href="@{'/customer/complete_event/' + ${event.eventId}}"
														data-bs-toggle="modal"
														th:data-bs-target="'#staticBackdropComplete' + ${event.eventId}"
														class="action-icon"><i class="mdi mdi-calendar-check"></i></a>
													<!-- Modal -->
													<div style="z-index: 99999999999999;" class="modal fade"
														th:id="'staticBackdropComplete' + ${event.eventId}"
														data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
														aria-labelledby="staticBackdropLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="staticBackdropLabel">
																		Complete Event
																	</h5>
																	<button type="button" class="btn-close"
																		data-bs-dismiss="modal"
																		aria-hidden="true"></button>
																</div> <!-- end modal header -->
																<div class="modal-body">
																	You will be redirected to payment page. <br />
																	Are you sure you want to complete this event?
																</div>
																<div class="modal-footer">
																	<button type="button"
																		class="close btn btn-secondary"
																		data-bs-dismiss="modal">Close</button>
																	<a type="button"
																		th:href="@{'/customer/complete_event/' + ${event.eventId}}"
																		class="btn btn-success"
																		th:id="'btnComplete' + ${event.eventId}">Complete</a>
																</div> <!-- end modal footer -->
															</div> <!-- end modal content-->
														</div> <!-- end modal dialog-->
													</div> <!-- end modal-->
												</div>

												<a th:if="${event.isActive} and ${eventStatuses[eventStat.index] == 'Completed'}"
													th:href="@{'/view_bill/' + ${event.eventId}}" class="action-icon"><i
														class="mdi mdi-receipt"></i></a>

												<a th:if="${event.isActive} and ${eventStatuses[eventStat.index] == 'Completed'}"
													th:href="@{'/customer/feedback/' + ${event.eventId}}"
													class="action-icon"><i class="mdi mdi-star-face"></i></a>

												<div th:if="${event.isActive} and (${eventStatuses[eventStat.index] == 'Verified'} or ${eventStatuses[eventStat.index] == 'Registered'})"
													style="display:inline-block;">
													<a data-bs-toggle="modal"
														th:data-bs-target="'#staticBackdropDelete' + ${event.eventId}"
														th:href="@{'/customer/delete_event/' + ${event.eventId}}"
														class="action-icon"> <i class="mdi mdi-delete"></i></a>
													<!-- Modal -->
													<div style="z-index: 99999999999999;" class="modal fade"
														th:id="'staticBackdropDelete' + ${event.eventId}"
														data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
														aria-labelledby="staticBackdropLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<h5 class="modal-title" id="staticBackdropLabel">
																		Delete Event
																	</h5>
																	<button type="button" class="btn-close"
																		data-bs-dismiss="modal"
																		aria-hidden="true"></button>
																</div> <!-- end modal header -->
																<div class="modal-body">
																	You will not have any record of this event anymore.
																	<br />
																	Are you sure you want to delete this event?
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-secondary"
																		data-bs-dismiss="modal">Close</button>
																	<a type="button"
																		th:href="@{'/customer/delete_event/' + ${event.eventId}}"
																		class="btn btn-danger">Delete</a>
																</div> <!-- end modal footer -->
															</div> <!-- end modal content-->
														</div> <!-- end modal dialog-->
													</div> <!-- end modal-->
												</div>
							</div>
							</td>
							</tr>
							</tbody>
							</table>
						</div>
					</div> <!-- end card-body-->
				</div> <!-- end card-->
			</div> <!-- end col -->
		</div>
		<!-- end row -->

		</div> <!-- container -->
	</th:block>

	<th:block layout:fragment="script">
		<!-- third party js -->
		<script th:src="@{/assets/js/vendor/jquery.dataTables.min.js}"></script>
		<script th:src="@{/assets/js/vendor/dataTables.bootstrap5.js}"></script>
		<script th:src="@{/assets/js/vendor/dataTables.responsive.min.js}"></script>
		<script th:src="@{/assets/js/vendor/responsive.bootstrap5.min.js}"></script>

		<!-- third party js ends -->

		<!-- demo app -->
		<script th:src="@{/assets/js/pages/demo.datatable-init.js}"></script>
		<!-- end demo js-->

		<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {
				$('[id^="btnComplete"]').click(function (e) {
					var token = $("meta[name='_csrf']").attr("content");
					var header = $("meta[name='_csrf_header']").attr("content");
					$(document).ajaxSend(function (e, xhr, options) {
						xhr.setRequestHeader(header, token);
					});

					var currentId = $(this).attr('id');

					$.ajax({
						async: false,
						url: "/getEventDetails/" + $(this).attr('id').replace('btnComplete', ''),
						dataType: 'json',
						type: 'GET',
						success: function (res) {
							$.ajax({
								async: false,
								url: "/create_order",
								data: JSON.stringify({amount: (res.totalCost) - 500}),
								dataType: 'json',
								contentType: 'application/json',
								type: 'POST',
								success: function (response) {
									// console.log(response);
									$('#staticBackdropComplete' + currentId.replace('btnComplete', '') + ' .close').click();
									// $('body').removeClass('modal-open');
									// $('.modal-backdrop').remove();
									var options = {
										"key": "rzp_test_IoPDrcNcQJRond",
										"amount": response.amount,
										"currency": "INR",
										"name": "Unico",
										"description": "Completing Event",
										"image": "/assets/images/logoFavicon.png",
										"order_id": response.id,
										"handler": function (response) {
											// var sendData = JSON.stringify(response);
											response["userDetailsId"] = res.userDetailsId;
											response["eventId"] = res.eventId;
											// console.log(JSON.stringify(response));
											$.ajax({
												async: false,
												url: "/save_complete_payment",
												data: JSON.stringify(response),
												dataType: 'json',
												contentType: 'application/json',
												type: 'POST',
												success: function (response) {
													return true;
													// window.location.replace("/home");
												}
											});
											// alert(response.razorpay_payment_id);
											// alert(response.razorpay_order_id);
											// alert(response.razorpay_signature);
										},
										"notes": {
											"address": "Razorpay Corporate Office"
										},
										"theme": {
											"color": "#3399cc"
										}
									};
									var rzp1 = new Razorpay(options);
									rzp1.on('payment.failed', function (response) {
										return false;
										alert("Payment failed.\nPlease try again to complete the event.")
										// alert(response.error.code);
										// alert(response.error.description);
										// alert(response.error.source);
										// alert(response.error.step);
										// alert(response.error.reason);
										// alert(response.error.metadata.order_id);
										// alert(response.error.metadata.payment_id);
									});

									rzp1.open();
									e.preventDefault();
								},
								error: function (error) {
									// console.log(error);
									return false;
									alert("Error while creating order.");
								}
							});
						}, error: function (error) {
							e.preventDefault();
						}
					});
				});
			});
		</script>
	</th:block>
</body>

</html>